.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tamaño-imagen {
  margin: 0;
  height: 900px !important;
  width: 100%;
  max-width: 100%;
  padding: 0; /* Corrige el valor de padding */
}




/* Fondo de pantalla para la pagina de PanelPage*/
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Exo', sans-serif;
}

.context {
    width: 100%;
    position: absolute;
    top: 50vh;
}

.context h1 {
    text-align: center;
    color: #000000;
    font-size: 50px;
}

body {
    background: #000000;
}

.title {
    font-size: 5.6rem;
    font-family: 'Lobster', cursive;
}

.wrapper {
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
    color: #000000;
    width: 100%;
    height: 290vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animation 100s linear infinite;
}

@keyframes animation {
    100% {
        background-position: 0px -3000px;
    }
}

